ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img{
   float: right; 
   margin-top: 100;
   margin-right: 0;
    
}

p1{
   float: left; 
   margin-top: 0px;
   margin-right: 0;
    
}

p2{
   float: left; 
   margin-top: 0px;
   margin-right: 0;
    
}

p3{
   float: right; 
   margin-top: -110px;
   margin-right: 10px;
   color: white;
    
}

p31{
   float: right; 
   margin-top: -110px;
   margin-right: -1190px;
   color: white;
    
}

p32{
   float: right; 
   margin-top: -110px;
   margin-right: 10px;
   color: white;
    
}

p33{
   float: right; 
   margin-top: -351px;
   margin-right: -1590px;
   color: white;
    
}

p4{
   float: right; 
   margin-top: 100px;
   margin-right: 500;
    
}


p5{
   float: right; 
   margin-top: 100px;
   margin-right: 0;
    
}


p6{
   float: right; 
   margin-top: 100px;
   margin-right: 0;
    
}


p7{
   float: right; 
   margin-top: 100px;
   margin-right: 0;
    
}

p8{
  float: right; 
   margin-top: 300px;
   margin-right: -150px;
   
    
}

p9{
  float: right; 
   margin-top: 0px;
   margin-right: 700px;
   
    
}

p10{
  float: right; 
   margin-top: 0px;
   margin-right: 1000px;
   
    
}

p11{
  float: right; 
   margin-top: -300px;
   margin-right: 500px;
   
    
}

p12{
  float: right; 
   margin-top: 150px;
   margin-right: 500px;
   
    
}

p13{
  float: right; 
   margin-top: 150px;
   margin-right: 900px;
}